*~
*.pdf
*.eps
obj
data
hist
runterzina
plots_SiPM_array
plots_SiPM_array.C.tmp
tvector2_2circles_C.d
tvector2_2circles_C.so
tvector2_2circles_C_ACLiC_dict_rdict.pcm
fig_gif/
hist_v02.00.00b/
lens_profile_n1.4.dat
lens_profile_n1.4_long.dat
lens_profile_n1.5.dat
lens_profile_n1.5_long.dat
lens_profile_n1.6.dat
lens_profile_n1.6_long.dat
hist_v02.00.00/
fresnel_lens_shape_R300_f400_n25.dat
fresnel_lens_shape_R270_f400_n25.dat
.ipynb_checkpoints/
hist_pat/
hist_small_pat/
run_sim_camera
merge_hist_files
runmgrana
Proton_100PeV_525km_30km.root
hist_GeomID11/
merg_hist/
run_sim_camera.root
run_sim_camera_flt.root
run_sim_camera_spr.root
cosmique_proton_generator
cosmique_proton_generator.root
hist_EASCherSim_0008227_g4.root
hist_EASCherSim_0048790_g4.root
hist_e-_Ekin_0.20MeV.root
merg_hist.root
merg_hist_1000PeV.root
merg_hist_100PeV.root
merg_hist_10PeV.root
