*~
*.pdf
*.eps
obj
data
hist
*.root
runterzina
plots_SiPM_array
plots_SiPM_array.C.tmp
tvector2_2circles_C.d
tvector2_2circles_C.so
tvector2_2circles_C_ACLiC_dict_rdict.pcm
fig_gif/
hist_v02.00.00b/
lens_profile_n1.4.dat
lens_profile_n1.4_long.dat
lens_profile_n1.5.dat
lens_profile_n1.5_long.dat
lens_profile_n1.6.dat
lens_profile_n1.6_long.dat
hist_v02.00.00/
fresnel_lens_shape_R300_f400_n25.dat
fresnel_lens_shape_R270_f400_n25.dat
.ipynb_checkpoints/
hist_pat/
hist_small_pat/
run_sim_camera
merge_hist_files
runmgrana
